.submit-signup {
  width: -webkit-fill-available;
}

.login-panel {
  padding-top: 10%;
}

.login-card {
  margin: auto;
  width: 500px;
}
#portal {
  background-image: url('https://source.unsplash.com/random/play'); /* The image used */
  background-color: #343a40; /* Used if the image is unavailable */
  height: 100vh;
  width: 100%;
  margin: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 2em;
}

.form-title {
  margin-bottom: 1em;
}

.fa {
  font-size: x-large;
  line-height: 1.5em;
  min-width: 1.5em;
}

.form-icon {
  height: -webkit-fill-available;
  background-color: #dee2e6;
  margin: auto;
  width: 2.6em;
}

.login-form {
  width: 95%;
  margin: auto;
}
.list-group {
  color: black;
  border-radius: unset;
}

.online-users img {
  width: 4em;
}
.invite-button {
  float: right;
  margin: auto;
}

.instructions {
  margin-top: 5%;
}

.instructions p {
  font-size: large;
  font-style: italic;
}

.instructions .btn-success {
  font-size: 0.5em;
  padding: 0;
}

.instructions .fa-bars {
  font-size: large;
}

.card {
  box-shadow: 0px 0px 12px 0px grey;
}

.navbar {
  background-color: #343a40;
  padding: unset;
}
.navbar-brand {
  margin-left: 1em;
}

.nav-link {
  text-align: center;
}

.dropdown-item {
  color: red;
}
.container:not('.invite-action') {
  margin-top: 3em;
}
.attempts {
  color: red;
}
.answer-text {
  color: green;
}

.list-group {
  max-height: 13em;
  overflow-y: auto;
}
.mx-1 {
  float: right;
}
@media only screen and (max-width: 414px) {
  .col-md-8 {
    margin-top: 2em;
  }
}
.guess-list {
  max-height: 30em;
}

.menu-button {
  background-color: black;
}
